.page-thumb {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.25s;
}

.page-thumb:hover {
  border-color: #ff4d6d;
  transform: scale(1.03);
}

.canvas-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
